body{
  font-family: 'Times New Roman', Times, serif;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 80px;
}
.header >img{
  height: 130px;
}

.bodyy{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.big-word{
    width: 100%;
    text-align: center;
    margin-bottom: px;
    color: rgb(67, 63, 63);
}
.small-word{
  text-align: center;
  margin-top: 0px;
  color: rgb(109, 100, 100);
}
.create-account{
  background-color: green;
  border-radius: 20px;
  margin-top: 25px;
}

.name{
  color: rgb(110, 103, 103);
  margin-bottom: -20px;
  font-size: 15px;
}
.input{
  padding: 12px 20px;
  font-size: 1rem;
  border-top: 0;
  border-left: 0;
  border-right: none;
  text-align: center;
  outline: transparent;
  width: 100%;
  margin-bottom: 10px;
  border-color: rgb(191, 188, 188);
}
.create-button{
  background-color: green;
  font-size: 25px;
  color: white;
  border:none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 20px;
}